<%= form_for @invite, html: { class: 'invite-form row' }, remote: true do |f| %>
  <%= hidden_field_tag :l, I18n.locale %>
  <%= f.hidden_field :locale, value: I18n.locale %>

  <div class="input-group col-sm8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <%= f.text_field :email, class: 'form-control', placeholder: t('.invite_placeholder') %>

    <span class="input-group-btn">
      <%= f.submit t('.invite_button'), analytics_attributes(:invite, :create).merge(class: 'btn') %>
    </span>
  </div>
<% end %>
