<div class="massive jumbotron">
  <div class="container">
    <h1 class="display-1">
      <%= t('.title') %>
    </h1>

    <p class="lead">
      <%= t('.description') %>
    </p>

    <%= render partial: 'invite_form' %>

    <a id="see-more" class="btn-link" href="#">
      <%= t('.see_more') %><br/>
      <i class="fa fa-angle-down"></i>
    </a>
  </div>
</div>

<div class="content container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="headline">
        <%= t('.content.title') %>
        <small>
          <%= t('.content.subtitle') %>
        </small>
      </h2>

      <hr class="m-y-lg" />

      <div class="row">
        <div class="col-sm-4">
          <h2 class="statistic">
            <%= number_to_human(Decree.count, separator: ',') %>
            <small>
              <%= t('.statistics.decrees') %>
            </small>
          </h2>
        </div>

        <div class="col-sm-4">
          <h2 class="statistic">
            <%= number_to_human(Judge.count, separator: ',') %>
            <small>
              <%= t('.statistics.judges') %>
            </small>
          </h2>
        </div>

        <div class="col-sm-4">
          <h2 class="statistic">
            <%= number_to_human(Hearing.count, separator: ',') %>
            <small>
              <%= t('.statistics.hearings') %>
            </small>
          </h2>
        </div>
      </div>

      <hr class="m-y-lg" />

      <h2 class="testimonial">
        <%= t('.testimonials.data.title') %>
        <small>
          <%= t('.testimonials.data.subtitle') %>
        </small>
      </h2>

      <p class="lead">
        <%= t('.testimonials.data.content') %>
      </p>

      <hr class="m-y-lg" />

      <h2 class="testimonial">
        <%= t('.testimonials.analysis.title') %>
        <small>
          <%= t('.testimonials.analysis.subtitle') %>
        </small>
      </h2>

      <p class="lead">
        <%= t('.testimonials.analysis.content') %>
      </p>

      <hr class="m-y-lg" />

      <h2 class="testimonial">
        <%= t('.testimonials.technologies.title') %>
        <small>
          <%= t('.testimonials.technologies.subtitle') %>
        </small>
      </h2>

      <p class="lead">
        <%= t('.testimonials.technologies.content') %>
      </p>

      <hr class="m-y-lg" />

      <h2 class="text-center"><%= t('.partners.title') %></h2>

      <div class="row">
        <div class="col-md-6">
          <a class="partner" href="http://transparency.sk">
            <%= image_tag 'partners/transparency-international-slovensko.svg', class: 'transparency-international' %>
          </a>
        </div>

        <div class="col-md-6">
          <a class="partner" href="https://indexpodnikatela.sk">
            <%= image_tag 'partners/index-podnikatela.svg', class: 'index-podnikatela' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="humble jumbotron">
  <div class="container">
    <%= render partial: 'invite_form' %>
  </div>
</div>

<div class="swag container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="contact">
        <%= mail_to 'api@otvorenesudy.sk', nil %>
      </h2>
    </div>
  </div>
</div>
