<div class="jumbotron">
  <div class="pattern">
    <div class="container">
      <a class="logo" href="/">
        <%= image_tag 'logo.svg' %>
      </a>

      <ul class="locales list-inline pull-right">
        <li><%= link_to 'SK', l: :sk %></li>
        <li><%= link_to 'EN', l: :en %></li>
      </ul>

      <div class="headline">
        <h1 class="title">
          <%= t('.title') %>

          <br />
        </h1>

        <h2 class="description">
          <%= t('.description') %>
        </h2>

        <%= link_to t('.see_invite_form'), '#', analytics_attributes(:invites, :'see-invite').merge(id: 'see-invite', class: 'btn btn-primary btn-lg') %>
      </div>

      <%= link_to '#', analytics_attributes(:invites, :'see-more').merge(id: 'see-more') do %>
        <%= t('.see_more') %><br/>

        <i class="fa fa-chevron-down"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="container content">
  <section id="title">
    <h1>
      <%= t('.content.title') %>

      <br />

      <small>
        <%= t('.content.subtitle') %>
      </small>
    </h1>
  </section>

  <section id="statistics">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="statistic">
          <%= number_to_human(Decree.count, separator: ',') %>

          <br />

          <small>
            <%= t('.statistics.decrees') %>
          </small>
        </h2>
      </div>

      <div class="col-sm-4">
        <h2 class="statistic">
          <%= number_to_human(Judge.count, separator: ',') %>

          <br />

          <small>
            <%= t('.statistics.judges') %>
          </small>
        </h2>
      </div>

      <div class="col-sm-4">
        <h2 class="statistic">
          <%= number_to_human(Hearing.count, separator: ',') %>

          <br />

          <small>
            <%= t('.statistics.hearings') %>
          </small>
        </h2>
      </div>
    </div>
  </section>

  <hr />

  <section id="testimonials">
    <div class="row testimonial">

      <div class="col-sm-9">
        <h2>
          <%= t('.testimonials.data.title') %>
        </h2>

        <%= t('.testimonials.data.content').html_safe %>
      </div>

      <div class="col-sm-3 feature-icon">
        <i class="fa fa-files-o"></i>
      </div>
    </div>

    <hr />

    <div class="row testimonial">
      <div class="col-sm-9">
        <h2>
          <%= t('.testimonials.analysis.title') %>
        </h2>

        <%= t('.testimonials.analysis.content').html_safe %>
      </div>

      <div class="col-sm-3 feature-icon">
        <i class="fa fa-area-chart"></i>
      </div>
    </div>

    <hr />

    <div class="row testimonial">
      <div class="col-sm-9">
        <h2>
          <%= t('.testimonials.technologies.title') %>
        </h2>

        <%= t('.testimonials.technologies.content').html_safe %>
      </div>

      <div class="col-sm-3 feature-icon">
        <i class="fa fa-server"></i>
      </div>
    </div>

    <hr />
  </section>

  <section id="partners">
    <h1><%= t('.partners.title') %></h1>

    <div class="row partners">
      <div class="col-md-6 partner">
        <a href="http://transparency.sk" target="_blank">
          <%= image_tag 'partners/transparency-international-slovakia.svg', class: 'transparency-international' %>
        </a>
      </div>

      <div class="col-md-6 partner index-podnikatela">
        <a href="https://indexpodnikatela.sk" target="_blank">
          <%= image_tag "partners/index-podnikatela.svg", class: 'index-podnikatela' %>
        </a>
      </div>
    </div>
  </section>
</div>

<footer>
  <div class="container">
    <section id="invite">
      <%= render partial: 'invite_form' %>
    </section>

    <section id="contact">
      <h1 class="text-center text-muted">
        <%= mail_to 'api@otvorenesudy.sk', nil, target: :_blank %>
      </h1>
    </section>
  </div>

  <div class="bottom">
    Copyright 2015 &middot; <a href="https://github.com/otvorenesudy/otvorenesudy-api" target="_blank">otvorenesudy-api</a>
  </div>
</footer>

